
<center>
<h1>{{ title }}</h1>
<table>
  {{#each rows}}
    <tr>
      <td>{{id}}</td>
      <td>{{name}}</td>
      <td>{{description}}</td>
    </tr>
  {{/each}}
</table>
<br/>
<br/>
<button  onClick="javascript:window.location.href='/tasks/add'">Add Task</button>
</center>